$primary-color: #282c34;
$secondary-color: #61dafb;

$button-background: rgb(199, 196, 23);
$button-hover: rgb(236, 233, 36);

$image-height: 300px;
$image-width: 300px;

$table-width: 50%;

$form-error: red;