@import './Styles/variables.scss';

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: $primary-color;
  height: 200px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pull-right {
  margin-right: 20%;
}

.title {
  font-size: calc(20px + 2vmin);
  justify-content: center;

}

.App-link {
  color:  $secondary-color;
}

.App-intro {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: $table-width;
  font-size: 20px;
}

p {
  font-size: 20px;
}

.btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: $button-background !important;
  border: 1px solid #ccc;

  &:hover {
    background: $button-hover !important;
  }
}

.btn-fave {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: $button-background !important;
  border: 1px solid #ccc;
  position: relative;
  left: -10px;

  &:hover {
    background: $button-hover !important;
  }
}

.select-drink {
  width: 100%;
  float: left;
  box-sizing: inherit;
  position: relative;
  bottom: 190px;
}

.drink-selection {
  float: left;
  margin-left: 20px;
  width: 31%;
}

.drink-img {
  width: $image-width;
  height: $image-height;
  float:left;
  border-radius: 5px;
  margin-left: 30px;
  // margin-top: 10px;
}

.drink-home1 {
  width: $image-width;
  height: $image-height;
  float:left;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 30px;
}

.drink-home2 {
  width: $image-width;
  height: $image-height;
  float:right;
  border-radius: 5px;
  margin-right: 30px;
  margin-top: 30px;
  position: relative;
  top: -205px;
}

.drink {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.table {
  width: $table-width !important;
  margin-left: auto;
  margin-right: auto;
  font-size: calc(10px + 2vmin);
}

input[type=text] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

.NavbarToggler {
  float: right;
}

.drink-list-div {
  padding: 20px;
  height: 10%;
  float: left;
  width: 33%;
  box-sizing: inherit;
}

.container {
  border: 1px solid #ccc;
  box-sizing: inherit;
  padding-bottom: 20px;
}

li {
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  font-size: 20px;
  text-align: center;
}

.drink-list {
  width: $image-width;
  height: $image-height;
  float:left;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 20px;
}

.table h1 {
  font-size: calc(30px + 2vmin);
}

.form-errors {
  color: $form-error;
}